@model  DataApp.Models.Request
@{
    ViewData["Title"] = "AddRequest";
}

    <form method="post">
        <h3>Adı: <input type="text" name="Name" /></h3>
        <br />
        <h3>EMail: <input type="text" name="EMail" /></h3>
        <br />
        <h3>Telefon: <input type="text" name="Phone" /></h3>
        <br />
        <h3>Mesaj: <input type="text" name="Message" /></h3>
        <br />
        <input type="submit" value="Kaydet" />
    </form>

        


 




